// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.8;

$font-weight-lighter: lighter !default;
$font-weight-light: 200 !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$border-radius: 6px;