// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.title {
    // color: #fff;
    background: #f8f9fa;
    padding-bottom: .5rem;

    // h1, h2, h3, h4 { color: #fff; }
}

.breadcrumbs {
    border-top: #dee2e6 1px solid;
    border-bottom: #dee2e6 1px solid;
    padding: .5rem 0;
    background: #f8f9fa;
    margin-bottom: 30px;
}
.breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
    font-size: 90%;

    .breadcrumb-item {
        color: #999;
    }
    .breadcrumb-item a {
        color: #555;
        text-decoration: underline;

        &:hover { text-decoration: none; }
    }
}

.table th {
    border-top: none;
    font-size: 80%;
    text-transform: uppercase;
    color: #777;
}
.table td, .table th {
    vertical-align: middle;
}
.table-actions {
    border-left: #ddd 1px solid;
    text-align: center;
}
.btn-table-actions {
    padding: .1rem .5rem;
}

label {
    margin-bottom: 3px;
    font-weight: 500;
}

.form-text {
    color: #aaa;
    font-size: 88%;
}

.attribute {

    strong {
        font-size: 75%;
        color: #555;
        text-transform: uppercase;
        font-weight: 700 !important;
    }

    padding: 7px 15px;
    margin: 10px 0;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: #f8f9fa;
}

.flash-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 520px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 500;
}