// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #eee;

    &::-webkit-scrollbar { width: 12px; height: 12px; }
	&::-webkit-scrollbar-track { background: none; }
	&::-webkit-scrollbar-thumb { background: darken($secondary, 10); }
	&::-webkit-scrollbar-thumb:hover { background: darken($secondary, 30); }
}

.sidebar {

    position: relative;
    width: 100%;
    display: none;

    @media only screen and (min-width : 992px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebarWidth;
        height: 100vh;
    }

    overflow-y: scroll;

    &::-webkit-scrollbar { width: 5px; height: 5px; }
	&::-webkit-scrollbar-track { background: none; }
	&::-webkit-scrollbar-thumb { background: darken($warning, 10); }
	&::-webkit-scrollbar-thumb:hover { background: darken($warning, 30); }

    a { color: #333; }
    
    .navbar-nav {

        .nav-link {
            font-size: 100%;
            opacity: .7;
            border-bottom: transparent 2px solid;
            display: inline-block;
            padding: .3rem 0; 

            &:hover, &:active {
                transition: opacity $transition-duration $transition-easing, border $transition-duration $transition-easing;
                opacity: 1;
                border-bottom: $primary 2px solid;
            }
        }

        .divider {
            display: block;
            margin: 2rem 0 .75rem 0;
            font-weight: 500;
            letter-spacing: -0.015rem;
            font-size: 95%;
            text-transform: uppercase;
        }
    }
}

main {

    @media (min-width: 992px) {
        padding-left: $sidebarWidth;
    }
}

.container-fluid {
    padding: 0 40px;
}

.title {
    // color: #fff;
    background: #f8f9fa;
    padding-bottom: .5rem;

    // h1, h2, h3, h4 { color: #fff; }
}

.breadcrumbs {
    border-top: #dee2e6 1px solid;
    border-bottom: #dee2e6 1px solid;
    padding: .5rem 0;
    background: #f8f9fa;
    margin-bottom: 30px;
}
.breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
    font-size: 90%;

    .breadcrumb-item {
        color: #999;
    }
    .breadcrumb-item a {
        color: #555;
        text-decoration: underline;

        &:hover { text-decoration: none; }
    }
}

.table th {
    border-top: none;
    font-size: 80%;
    text-transform: uppercase;
    color: #777;
}
.table td, .table th {
    vertical-align: middle;
}
.table-actions {
    border-left: #ddd 1px solid;
    text-align: center;
}
.btn-table-actions {
    padding: .1rem .5rem;
}

label {
    margin-bottom: 3px;
    font-weight: 500;
}

.form-text {
    color: #aaa;
    font-size: 88%;
}

.attribute {

    strong {
        font-size: 75%;
        color: #555;
        text-transform: uppercase;
        font-weight: 700 !important;
    }

    padding: 7px 15px;
    margin: 10px 0;
    border-radius: $border-radius;
    box-sizing: border-box;
    background: #f8f9fa;
}

.flash-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 520px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 500;
}

.form-footer {
    position: sticky;
    bottom: 0;

    .card-body {
        background-color: lighten($success, 50);
    }
}

.modal-backdrop {
    background-color: darken($warning, 20);
}